* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Viga';
    src: url("Viga-Regular.ttf");
}

html,
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 500 !important;
    scroll-behavior: smooth;
}
.navbar {
    background-color: transparent;
    transition: all .3s;
    z-index: 999;
}

.navbar .navbar-nav .nav-link {
    text-transform: uppercase;
    margin-left: 25px;
    color: #fff;
}

.jumbotron {
    height: 80vh;
    width: 100%;
    background-color: #0152AE;
    color: #fff;
}
.wrapper {
    margin-top: 130px;
}
.sosmed {
    margin-bottom: 10px;
    position: relative;
}

.row img {
    width: 400px;
}
.icon {
    position: relative;
    margin-top: 230px;
    margin-bottom: 0px;
    margin-block-end: 0%;
}
#particles-js canvas
{
    display: block;
    vertical-align: bottom;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
    transition: opacity .8s ease, transform 1.4s ease
}
canvas{ 
    display: block; vertical-align: bottom; 
} /* ---- particles.js container ---- */ 
#particles-js{
     position:absolute; 
     width: 100%; 
     height: 80%; 
     background-color: #1847b6; 
     background-repeat: no-repeat; 
     background-size: cover; 
     background-position: 50% 50%;
     z-index: inherit;
     } /* ---- stats.js ---- */
.js-slidein {
    opacity: 0;
    transform: translateY(100px);
    -webkit-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}
      
.js-slidein-visible {
    opacity: 1 !important;
    transform: translateY(0) !important;
}
.d-flex {
    display: flex!important;
}
.img-1 {
    width: 50%!important;
}

.page-footer {
    height: 80px;
    margin-bottom: 0;
    padding: 0;
}

.page-footer img {
    margin-bottom: 5px;
    margin-left: 10px;
}